<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= subheading %></p>
    <table>
      <tr>
        <th><b>ID#</b></th>
        <th><b>Term</b></th>
        <th><b>Description</b></th>
        <th><b>References</b></th>
      </tr>
      <% items.forEach((item) => { %>
        <tr>
          <td>
            <%= item.id %>
          </td>
          <td>
            <%= item.title %>
          </td>
          <td>
            <%= item.description %>
          </td>
          <td>
            <%= item.reference %>
          </td>
        </tr>
      <% }); %>
    </table>
  </body>
</html>